/*POSTER*/

/*POSTER*/

#poster {
	position:absolute;
	top:90px;
	left:0px;
	width:100%;
	height:50%;
}
#popost {
	/*space and format*/
	height:90px;
	width:70%;
	margin-left:12%;
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom:3%;
	
	/*texte*/
	font-size:1.0em;
	color:grey;
	font-family:Calibri;
	
	/*border*/
	border-radius:7px 7px;
	border: solid 1px #3f7233;
}